:root {
  --marker-color: #046582;
  --label--color: #f037a5;
}

.icon {
  color: var(--marker-color);
  font-size: 3rem;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  width: 250px;
}
.label span {
  color: var(--label--color);
}
.star {
  color: rgb(221, 158, 0);
}
hr {
  width: 90%;
}
