:root {
  --marker-color: #046582;
  --label--color: #f037a5;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  width: 250px;
}
.label span {
  color: var(--label--color);
}
.star {
  color: rgb(221, 158, 0);
}
hr {
  width: 90%;
}

.form-control {
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
