:root {
  --marker-color: #046582;
  --label--color: #f037a5;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  width: 250px;
}
.label span {
  color: var(--label--color);
}
.star {
  color: rgb(221, 158, 0);
}
hr {
  width: 90%;
}

.form-control {
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.textareaMat {
  width: 223px;
}

.btn {
  width: 230px;
  cursor: pointer;
}

.nSelect {
  width: 233px;
  border: 2px solid lightgray;
  border-bottom-style: none;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
}

.modal-container {
  background: white;
  width: 300px;
  height: 450px;
  padding: 20px;
  border-radius: 0.2rem;
  margin: 240px auto;
  position: relative;
  z-index: 999;
}
.form-register {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.roomIcon {
  position: relative;
  inset: -10px 130px;
  font-size: 3rem !important;
}

.btn-close {
  font-size: 2rem !important;
  position: relative;
  top: -30px;
  right: -230px;
  color: red;
  cursor: pointer;
}

.modal-container-login {
  background: white;
  width: 300px;
  height: 400px;
  padding: 20px;
  border-radius: 0.2rem;
  margin: 240px auto;
  position: relative;
  z-index: 999;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

/* ToolTip CSS Extending */

.tooltip {
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  color: rgb(219, 56, 56) !important;
  border: solid 1px rgb(199, 60, 60) !important;
}
